<div class="row">
    <section class="large-12 columns" ng-controller="DetailController">
        <h1>Detalhe</h1>
        <h4>{{shot.title}}</h3>

        <div class="media-object callout primary">
            <div class="media-object-section">
                <div class="thumbnail">
                    <img src="{{image.normal}}">
                </div>
            </div>
            <div class="media-object-section main-section">
                <div ng-bind-html="parseHtmlReturn()"></div>
            </div>
        </div>

        <a href="/" class="button">Voltar</a>
    </section>
</div>
